@{
    ViewData["Title"] = "Liên hệ";
}

<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">Thông tin liên hệ</h2>

    <div class="card p-4 shadow-sm">
        <p><strong>Trà Sữa Phú Quý</strong></p>

        <p>
            <strong>Địa chỉ:</strong>
            63/2 Hoàng Hoa Thám, thôn Phú An,
            Đặc khu Phú Quý, tỉnh Lâm Đồng
            </p>

        <p>
            <strong>Điện thoại:</strong> 0988 354 419
        </p>
        <p>
            <strong>Email:</strong> duythong.1988@gmail.com
        </p>
    </div>
</div>